<div class="flexbox-container">
	<div class="something animated slideInDown">Team {{title}}</div>
</div>
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href='public/stylesheets/animate.css'>
