<div class="flexbox-container">
	<div class="something animated slideInDown">Team {{title}}</div>
</div>
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href='public/stylesheets/animate.css'>
<img class="lewis" src="http://i.imgur.com/Iv037bJ.png">
<img class="sips " src="http://i.imgur.com/EM7dwpi.png">
<a href="https://github.com/remony/teamdd-word-gen">Github - source code</a>
