<!-- David Walsh is sorta a god -->
<div class="flexbox-container">
	<div class="something animated slideInDown">Team {{title}}</div>
</div>
<!-- importing inside a view ??? -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<!-- random images -->
<img class="lewis animated bounce" src="http://i.imgur.com/Iv037bJ.png">
<img class="sips" src="http://i.imgur.com/EM7dwpi.png">
<!-- Just a random a tag, nothing to look at -->
<a href="https://github.com/remony/teamdd-word-gen" class="animated slideInUp">Github - source code<a>
  <!-- SUCH MESS -->
