<!DOCTYPE html>
<html>
  <head>
    <title>Team {{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
